<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表排序</title>
    <link rel="shortcut icon" href="../favicon.ico">
    <script type="text/javascript" src="../js/vue.js"></script>

</head>
<body>

    <div id="root">
        <h2>人员列表</h2>
        <input type="text" placeholder="请输入名称" v-model="keyWord">
        <button @click="sortType = 2">年龄升序</button>
        <button @click="sortType = 1">年龄降序</button>
        <button @click="sortType = 0">原顺序</button>
        <ul>
            <li v-for="(person,index) in filPerons" :key="person.id">
                {{index}}-{{person.name}}-{{person.age}}
            </li>
        </ul>

    </div>

    <script type="text/javascript">
        Vue.config.productionTip = false

        // 用computed实现
        const vm = new Vue({
            el:'#root',
            data:{
                sortType:0, // 0原顺序   1 降序   2升序
                keyWord:'',
                persons:[
                    {id:'001',name:'张三四',age:18},
                    {id:'002',name:'李四',age:17},
                    {id:'003',name:'王五',age:19},
                    {id:'004',name:'王六',age:20},
                ],
            },
            computed:{
                // 因为里面有sortType，所以每次修改sortType的时候都会调这个计算属性 (修改的时候会重新渲染吧 )
                filPerons(){
                    const arr = this.persons.filter((p)=>{
                        return p.name.indexOf(this.keyWord) !== -1
                    })
                    //判断是否需要排序
                    if(this.sortType > 0){
                        arr.sort((a,b)=>{
                            return this.sortType === 2 ? a.age - b.age :b.age - a.age
                        })
                    }
                    return arr
                }
            }
        })
</script>
</body>
</html>