<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表排序</title>
    <link rel="shortcut icon" href="../favicon.ico">
    <script type="text/javascript" src="../js/vue.js"></script>

</head>
<body>

    <div id="root">
       <h2>学校名称:{{name}}</h2>
       <h2>学校地址:{{address}}</h2>
       <hr/>
       <button @click="addSex">添加性别</button>
       <h2>学生姓名:{{student.name}}</h2>
       <h2>学生年龄:真实:{{student.age.rAge}},对外:{{student.age.sAge}}</h2>
        <h2 v-if="student.sex">性别:{{student.sex}}</h2>
        <hr/>
        <ul>
            <li v-for="(friend, index) in student.friends" :key="index">
                {{friend.name}}---{{friend.age}}
            </li>
        </ul>


    </div>

    <script type="text/javascript">
        Vue.config.productionTip = false

        // 用computed实现
        const vm = new Vue({
            el:'#root',
            data:{
                name:'嘿嘿嘿',
                address:'北京',
                student:{
                    name:'tom',
                    age:{
                        rAge:40,
                        sAge:29,
                    },
                    friends:[
                        {name:'jerry',age:35},
                        {name:'tony',age:40},
                    ]
                }
            },
            methods: {
                addSex(){
                    // Vue.set(this.student,'sex','男')
                    vm.$set(this.student,'sex','男')
                }
            },
        })
</script>
</body>
</html>