<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>监视数组</title>
    <link rel="shortcut icon" href="../favicon.ico">
    <script type="text/javascript" src="../js/vue.js"></script>

</head>
<body>

<!-- Vue监视数据的原理:
            1.vue会监视data中所有层次的数据。
            2.如何监测对象中的数据?
                通过setter实现监视，且要Enew Vuye时就传入要达测的数据。
                (1).对象中后追加的属性，Vue默认不做响应式处理
                (2).如需给后添加的属性做响应式，请使用如下API:
                Vue. set(target, propertyName/ index, value) 或 Vm. $set(target, propertyName/ index, value)
            3. 如何监测数组中的数据?
                通过包裹数组更新元素的方法实现，本质就是做了两件事:
                (1).调用原生对应的方法对数组进行更新。
                (2).重新解析模板，进而更新页面。
            4.在Vue修改数组中的某个元素一定要用如 下方法:
                1.使用这些API:push()、pop()、 shift()、 unshift()、 splice()、 sort()、 reverse()
                2.Vue.set()或vm.$set()
                特别注意: Vue.set() 和vm. $set()不能给vm或vm的根数据对象添加属性! !
 -->

    <div id="root">
       <h2>学校名称:{{name}}</h2>
       <h2>学校地址:{{address}}</h2>
       <hr/>
       <button @click="addSex">添加性别</button>
       <h2>学生姓名:{{student.name}}</h2>
       <h2>学生年龄:真实:{{student.age.rAge}},对外:{{student.age.sAge}}</h2>
        <h2 v-if="student.sex">性别:{{student.sex}}</h2>
        <hr/>
        <ul>
            <li v-for="(friend, index) in student.friends" :key="index">
                {{friend.name}}---{{friend.age}}
            </li>
        </ul>


    </div>

    <script type="text/javascript">
        Vue.config.productionTip = false

        // 用computed实现
        const vm = new Vue({
            el:'#root',
            data:{
                name:'嘿嘿嘿',
                address:'北京',
                student:{
                    name:'tom',
                    age:{
                        rAge:40,
                        sAge:29,
                    },
                    friends:[
                        {name:'jerry',age:35},
                        {name:'tony',age:40},
                    ]
                }
            },
            methods: {
                addSex(){
                    // Vue.set(this.student,'sex','男')
                    vm.$set(this.student,'sex','男')
                }
            },
        })
</script>
</body>
</html>